.form-wrapper{
    margin: 0px 0px;
    .form-wrapper-inputs{
        input{
            padding:10px 70px;
            margin-bottom:10px;
            margin-top:5px;
            display: block;
            background:white;
            font-size: 0.9em;
            border: 2px solid $pink; //no blue border
        }
        label {
            font-size: 1em; /* Tamaño de fuente para el label */
         }
        input:focus {
            border: 3px solid $orange; //no blue border
            outline: none; //no blue shadow
            
          }
    }
}

