@mixin base-btn {
    cursor: pointer;
    height: 42px;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all 0.5 ease-in-out;
    background-color: $pink;
    border-radius: 8px;
    margin-top:15px;
    margin-bottom:15px;
    padding: 0px 10px;

    &:active,
    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $orange;
        color:white;
    }
}

@mixin base-link {
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all 0.5 ease-in-out;
    background-color: $pink;
    color: $dark-pink;
    border-radius: 8px;
    text-decoration: none;
    padding: 10px;
    margin: 3px;
    justify-content: center;

    &:active,
    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $orange;
        color:white;
    }
}

@mixin base-list{
    list-style-type: square;
    ::marker {
        color: $orange; /* Cambia el color de los bullets a rojo */
      }
}
