.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    cursor: pointer;

    .nav-logo{
       height:140px;
        img{
            width: 140px; 
        }
        &:hover {
        opacity: 0.6;
        }
    }
    .nav-items{
        transition: 0.5s ease-in-out;
        min-width: 150px;
        position:relative;
        a{
            color: black;
            text-decoration: none;
            margin: 15px;

            &:hover {
                color:$orange;
                text-transform: uppercase;
                border-radius: 8px;
                background-color: $grey;
                padding: 10px;
                }
        }
    }
    .nav-toggle{
        display: none;
    }
    
}