.page-wrapper{
    display: flex;
    justify-content:space-between;
    margin: 0px;
    padding: 40px 40px;

    .page-img img{
      height: 400px;
      margin-left: 30px;
      margin-top:40px;
    }
    .page-text{
      display: flex;
      flex-direction:column;
      align-items: flex-start;
      justify-content: center;

      .page-introduction{
        display:grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        align-items: center;
        margin-bottom: 10px;
    
        .page-introduction-button{
          display: flex;
          justify-content: center; /* centers horizontally */
          align-items: center; /* centers vertically */
        }
        .page-introduction-text{
          align-items: center;
        }
      }
      
    }
  }
  
  
 
    
